/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

/*html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{
  margin:0;padding:0;
}*/
/* body{line-height:1} */
/* article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block} */
/* nav ul{list-style:none} */
/* blockquote,q{quotes:none} */
/* blockquote:before,blockquote:after,q:before,q:after{content:none} */
/* a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none} */
/* mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold} */
/* del{text-decoration:line-through} */
/* abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help} */
/* table{border-collapse:collapse;border-spacing:0} */
/* hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0} */
/* input,select{vertical-align:middle} */
/* li{list-style:none} */


/* =============================================================================
   My CSS
   ========================================================================== */

@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap);
/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

:root {
    --hero-head: #40D4E9;
    --hero-bg: #475063;
}

.light {
    --bg-main: #fff;
    --bg-nav: #475063;
    --text-head: rgb(20, 176, 200);
    --text-main: #444;
    --text-sec: #888;
    
}

.dark {
    --bg-main: linear-gradient(180deg, #303747 43.03%, #42527A 156.2%);
    --bg-nav: #475063;
    --text-head: #40D4E9;
    --text-main: #ddd;
    --text-sec: #aaa;
}

@media (prefers-color-scheme: dark) {
    .system {
        --bg-main: linear-gradient(180deg, #303747 43.03%, #42527A 156.2%);
        --bg-nav: #475063;
        --text-head: #40D4E9;
        --text-main: #ddd;
        --text-sec: #aaa;
    }
}

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}

body {
    margin: 0;
    padding: 0;
    font-family: Ubuntu, Montserrat, sans-serif;
    background: var(--bg-main);
    color: var(--text-main);
}

p {
    margin: 0;
    padding: 0;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    color: var(--text-main);
    background:transparent;
    text-decoration:none;
    transition: 0.5s;
}

a:hover {
    text-decoration: underline;
    color: var(--text-head);
}

/*--------------------------------------------------------------
# Color switcher
--------------------------------------------------------------*/
/* The switch - the box around the slider */
.switch {
    position: absolute;
    display: inline-block;
    left: 12px;
    top: 5px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

#color-sw {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0px;
    right: 0;
    bottom: 0;
    font-size: 22px;
    color: #ddd;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    z-index: 1;
}
  
#color-sw:hover {
    color: white;
    transform: scale(1.2);
}

/*--------------------------------------------------------------
# Main content
--------------------------------------------------------------*/
.container {
    /* margin-top: 60px; */
    display: block;
    width: 100%;
    overflow: auto;
    font-weight: 400;
    /* height: 500px; */
}

.main section {
    max-width: 1000px;
    margin: 0 auto;
}

.section-title {
    text-align: center;
    /* padding-bottom: 30px; */
    /* margin: 80px auto; */
    margin-top: 80px;
    margin-bottom: 40px;
}
  
.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
    color: var(--text-main);
}
  
.section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}
  
.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: var(--hero-head);
    bottom: 0;
    left: calc(50% - 20px);
}
  
.section-title p {
    margin-bottom: 0;
}

.section-content {
    /* max-width: 1100px; */
    margin: 0 auto;
    /* background-image: linear-gradient(180deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.2) 100%); */
    /* background-color: rgba(0,0,0,0.1); */
    /* border-radius: 20px; */
    /* padding: 20px 30px; */
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    position: fixed;
    left: -5px;
    bottom: 20px;
    z-index: 999;
    transition: all 0.5s;
    /* padding: 15px; */
    overflow-y: auto;
}
  
@media (max-width: 991px) {
    #header {
      width: 300px;
      background: #fff;
      border-right: 1px solid #e6e9ec;
      left: -300px;
    }
}
  
@media (min-width: 991px) {
    #main {
      margin-left: 100px;
    }
}
  
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
.nav-menu {
    padding: 0;
    display: block;
}
  
.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}
  
.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
}
  
.nav-menu a,
.nav-menu a:focus {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--bg-nav);
    padding: 10px 18px;
    margin-bottom: 4px;
    font-size: 15px;
    /* border-radius: 50px; */
    border-radius: 0 20px 20px 0px;
    background: #f2f3f5;
    height: 56px;
    width: 100%;
    overflow: hidden;
    transition: 0.3s;
}
  
.nav-menu a i,
.nav-menu a:focus i {
    font-size: 20px;
}
  
.nav-menu a span,
.nav-menu a:focus span {
    padding: 0 5px 0 7px;
    color: var(--bg-nav);
}
  
@media (min-width: 992px) {
    .nav-menu a,
    .nav-menu a:focus {
      width: 160px;  /* 56*/
    }
  
    /* .nav-menu a span,
    .nav-menu a:focus span {
      display: none;
    } */

    .nav-menu.collapsed-navbar a, 
    .nav-menu.collapsed-navbar a:focus {
        width: 56px;
    }

    .nav-menu.collapsed-navbar a span,
    .nav-menu.collapsed-navbar a:focus span {
        display: none;
    }
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
    color: #fff;
    background: var(--bg-nav);
}

.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover>a span {
    color: #fff;
}
  
.nav-menu a:hover,
.nav-menu.collapsed-navbar a:hover,
.nav-menu li:hover>a {
    width: 100%;
    color: #fff;
}
  
.nav-menu a:hover span,
.nav-menu li:hover>a span,
.nav-menu.collapsed-navbar a:hover span {
    display: block;
}
  
/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 0;
    cursor: pointer;
    border-radius: 50px;
    padding: 5px;
}
  
.mobile-nav-toggle i {
    color: var(--bg-nav);
}
  
.mobile-nav-active {
    overflow: hidden;
}
  
.mobile-nav-active #header {
    left: 0;
}
  
.mobile-nav-active .mobile-nav-toggle {
    color: #fff;
    background-color: var(--bg-nav);
}

/*--------------------------------------------------------------
# particles.js
--------------------------------------------------------------*/
#particles-js{
    position: absolute;
    top: 0px;
    width: 100%;
    /* border: 2px solid #3f3; */
    height: 66%;
    border-radius: 0 0 60% 60%/0 0 100% 100%;
    transform: translateY(-170px)  scale(1.5);
}

#particles-js canvas {
    border-radius: 0 0 60% 60%/0 0 100% 100%;
    /* transform: translateY(-240px); */
    /* height: 100px; */
    opacity: 0.5;
    /* border: 2px solid #333; */
    animation: flatten 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -0.003s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

/*--------------------------------------------------------------
# Hero section
--------------------------------------------------------------*/
#hero {
    position: relative;
    width: 100%;
    height: 100vh;
    display: block;  /* flex */
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background: var(--hero-bg);
    /* background: linear-gradient(19deg, rgb(6, 152, 181) 0%, rgb(2 2 2) 100%); */
    /* background-image: url(https://cdn.pixabay.com/photo/2018/12/18/22/29/background-3883181_640.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    /* border: 2px solid #00f; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 0 0 60% 60%/0 0 100% 100%;
    transform: translateY(-150px) scaleX(1.3);
    animation: flatten 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -0.004s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes flatten {
    to {
        border-radius: 0;
    }
}

.hero-text {
    position: relative;
    z-index: 1;
    margin: 150px auto 90px auto;
    max-width: 900px;
    text-align: center;
    pointer-events: none;
    /* transform: translateY(-100px); */
}

.hero-text #name {
    font-family: "Raleway";
    margin: 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0em;
    color: #fff;
    /* background: -webkit-linear-gradient(180deg, rgb(255, 255, 255), var(--myblue)); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.hero-text p span {
    color: var(--hero-head);
    letter-spacing: 1px;
}

.hero-text #title {
    margin-top: 40px;
    /* margin-bottom: 0; */
    font-style: Montserrat, sans-serif;;
    font-size: 26px;
    line-height: 27px;
    letter-spacing: 0em;
    color: #fff;
}

#hero .dp {
    position: relative;
    /* margin: 0 auto; */
    text-align: center;
    pointer-events: none;
}

.profile-picture {
    /* display: block; */
    /* position: absolute; */
    /* margin-top: 71px; */
    /* margin-bottom: 0; */
    width: 200px; 
    height: 200px;
    border-radius: 50%;
    /* margin-bottom: 20px; */
    /* border: 0.3vw solid #fff; */
}

#hero .social-links {
    margin-top: 20px;
    text-align: center;
}
  
#hero .social-links a {    
    display: inline-block;
    padding: 0 5px;
    transition: 0.5s;
    color:var(--text-main);
    font-size: 28px;
    line-height: 1;
    
    /* background: var(--darkbg);
    color: #fff;
    font-size: 18px;
    padding: 6px 0;
    border-radius: 50%;
    width: 30px;
    height: 30px; */
}
  
#hero .social-links a:hover {
    /* background: var(--myblue); */
    color: var(--text-head)
}

.arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 50px;
}
  
.arrows path {
    stroke: var(--text-head);
    fill: transparent;
    stroke-width: 1px;  
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite; 
}
  
@keyframes arrow {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
}
  
@-webkit-keyframes arrow {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
}
  
.arrows path.a1 {
    animation-delay:-1s;
    -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}
  
.arrows path.a2 {
    animation-delay:-0.5s;
    -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}
  
.arrows path.a3 { 
    animation-delay:0s;
    -webkit-animation-delay:0s; /* Safari 和 Chrome */
}

/*--------------------------------------------------------------
# About section
--------------------------------------------------------------*/
#about {
    /* max-width: 1100px;
    margin: 0 auto; */
    /* transform: translateY(-220px); */
}

#about .intro {
    text-align: center;
    line-height: 1.7;
    margin-bottom: 20px;
    font-family: 'Ubuntu';
    font-size: 16px;
}

#about .intro > p > a {
    color: var(--text-head);
}

.exp-heading {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--text-main);
}

.col-lg-3 { 
    display: flex;
    align-items: baseline;
} 

.exp-date {
    margin: 0;
    font-size: 0.75rem;
    font-weight: 400;
    /* line-height: 18px; */
    text-align: left;
    color: #888;
}

.exp-content {
    padding-left: 20px;
    margin-left: 20px;
    position: relative;
    border-left: 2px solid var(--text-head);
}

.exp-content::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: var(--bg-main);
    border: 2px solid var(--text-head);
}

.exp-title {
    line-height: 18px;
    font-size: 18px;
    font-weight: 500;
    /* text-transform: uppercase; */
    font-family: Poppins, sans-serif;
    /* color: var(--myblue); */
    color:var(--text-head);
    margin-bottom: 5px;
}

.exp-location {
    padding-bottom: 0.5rem;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    /* line-height: 17px; */
    text-align: left;
}

/* .exp-location a {
    color: #A3A7B0;
} */

.exp-tasks, .exp-tasks a {
    font-size: 13px;
    text-align: left;
    color: var(--text-sec);
} 

.exp-tasks, .exp-tasks > li {
    list-style: none;
    padding: 0;
    padding-bottom: 5px;
}

#award-thesis {
    position: relative;
    top: 3px;
    font-size: 20px; 
    color: #f0cf11;
}

#award-gpa {
    position: relative;
    top: 3px;
    font-size: 20px; 
    color: #bab9b9;
}

.btn-skill {
    display: inline-block;
    margin-right: 5px;
    padding: 2px 10px;
    background-color: #40D4E926;
    color: var(--text-head);
    border: none;
    text-align: center;
    text-decoration: none; 
    font-style: Montserrat, Ubuntu;       
    font-size: 11px;
    font-weight: 400;
    border-radius: 30px;
}

/*--------------------------------------------------------------
# Certificates section
--------------------------------------------------------------*/
#certificate {
    /* background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.0)), url('../img/wave-single.svg'); */
    /* background-size: cover; */
    /* max-width: 1100px; */
    /* margin: 0 auto; */
}

#certificate .section-content .intro {
    text-align: center;
}

#certificate .section-title {
    margin-bottom: 0px !important;
}

#main-carousel {
    width: 58%;
    margin: 0 auto;
}

#thumbnail-carousel {
    width: 60%;
    margin: 0 auto;
    padding: 0 60px;
}

@media (max-width: 991px) {
    #main-carousel {
        width: 98%;
        margin: 0 auto;
    }
    
    #thumbnail-carousel {
        width: 100%;
        margin: 0 auto;
        padding: 0 60px;
    }
}

#main-carousel .splide__track {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    /* border: 3px solid white ; */
}

#main-carousel .splide__track:hover {
    transform: translateY(-25px) scale(1.15);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.splide__slide img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.splide__slide {
    opacity: 0.4;
}

.splide__slide.is-active {
    opacity: 1;
}

/*--------------------------------------------------------------
# Publications section
--------------------------------------------------------------*/
#publication {
    /* max-width: 1100px; */
    /* margin: 0 auto; */
}

.nav-tabs {
    /* margin-bottom: 10px; */
    /* border-color: var(--text-head); */
}
.nav-item .nav-link.active {
    /* background-color: var(--text-head); */
    /* color: white; */
    /* border-color: var(--text-head); */
    font-weight: 500;
}

.nav-link {
    text-decoration: none;
    /* color: var(--text-head); */
    color: var(--text-sec);
}

.nav-link:hover {
    text-decoration: none;
    /* color: var(--text-head); */
    color: black;
}

.card {
    padding-top: 10px;
}

.card-text a {
    color: var(--text-head);
}
.card-links {
    margin-top: 8px;
}

.card-links a {
    text-decoration: none;
    padding: 4px 0;
    margin-left: 3px;
    border-radius: 10px;
    background-color: #eee;
}

.card-links a:hover {
    background-color: #ddd;
}

.btn-label {
    position: relative;
	left: -12px;
}

.btn-label i {
    font-size: 15px;
}

.btn-labeled {
	padding-top: 0;
	padding-bottom: 0;
    margin-bottom: 10px;
    width: 110px;
}

/*--------------------------------------------------------------
# Projects section
--------------------------------------------------------------*/
#project {
    /* max-width: 1100px; */
    /* margin: 0 auto; */
}

#project .intro {
    text-align: center;
    line-height: 1.7;
    font-family: 'Ubuntu';
    font-size: 16px;
}

.icon-box {
    text-align: center;
    padding: 50px 20px 50px 20px;
    transition: all ease-in-out 0.3s;
    background: #fff;
    /* box-sizing: border-box; */
    box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.05);
}

.icon-box a {
    text-decoration: none;
}

.icon-box a.project-lightbox {
    text-align: end;
    display: block;
    /* width: calc(100% - 24px);        */
    width: 45%;
    position: absolute;
    bottom: 0;      
    right: 12px;           
    padding: 5px 20px;
    background-color: #888; 
    color: #fff;  
    border: none;
    font-size: 14px;
    border-radius: 100px 0 0 0;
    text-decoration: none; 
}

.icon-box a.project-lightbox:hover {
    background-color: var(--text-head);
}

.icon-box .icon {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
    position: relative;
    bottom: 20px;
}
  
.icon-box .icon i {
    font-size: 36px;
    transition: 0.5s;
    position: relative;
}
  
.icon-box .icon svg {
    position: absolute;
    top: 0;
    left: 0;
}
  
.icon-box .icon svg path {
    transition: 0.5s;
    fill: #f5f5f5;
}
  
.icon-box h4 a {
    font-weight: 600;
    font-size: 20px;
    color: var(--bg-nav);
    margin: 10px 0 15px 0;
}
  
.icon-box p {
    line-height: 24px;
    font-size: 13px;
    color: var(--text-sec);
    margin-bottom: 0;
}
  
.icon-box:hover {
    border-color: #fff;
    box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.1);
    
}

.icon-box:hover .icon {
    transform: scale(1.1);
}
  
.iconbox-blue .icon i {
    color: #47aeff;
}
  
.iconbox-blue:hover .icon i {
    color: #fff;
}
  
.iconbox-blue:hover .icon path {
    fill: #47aeff;
}
  
.iconbox-orange .icon i {
    color: #ffa76e;
}
  
.iconbox-orange:hover .icon i {
    color: #fff;
}
  
.iconbox-orange:hover .icon path {
    fill: #ffa76e;
}
  
.iconbox-pink .icon i {
    color: #e80368;
}
  
.iconbox-pink:hover .icon i {
    color: #fff;
}
  
.iconbox-pink:hover .icon path {
    fill: #e80368;
}
  
.iconbox-yellow .icon i {
    color: #ffbb2c;
}
  
.iconbox-yellow:hover .icon i {
    color: #fff;
}
  
.iconbox-yellow:hover .icon path {
    fill: #ffbb2c;
}
  
.iconbox-red .icon i {
    color: #47aeff;
}
  
.iconbox-red:hover .icon i {
    color: #fff;
}
  
.iconbox-red:hover .icon path {
    fill: #47aeff;
}
  
.iconbox-teal .icon i {
    color: #11dbcf;
}
  
.iconbox-teal:hover .icon i {
    color: #fff;
}
  
.iconbox-teal:hover .icon path {
    fill: #11dbcf;
}

/*--------------------------------------------------------------
# Blog section
--------------------------------------------------------------*/
#blog {
    /* max-width: 1300px; */
    /* margin: 0 auto; */
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    font-size: 14px;
    text-align: center;
    justify-content: center;
    justify-items: center;
    padding: 50px 0;
    margin-top: 60px;
    height: 300px;
    background: #f7f8f9;
    color: #45505b;
    /* background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.8)), url('../img/wave.svg');
    background-size: cover; */
}

/* #footer .container {
    margin-top: 80px;
} */
  
#footer h3 {
    font-size: 36px;
    font-weight: 700;
    position: relative;
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0 0 15px 0;
}
  
#footer p {
    font-size: 15;
    font-style: italic;
    padding: 0;
    margin: 0 0 40px 0;
}
  
#footer .social-links {
    margin: 0 0 40px 0;
}
  
#footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: var(--text-head);
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}
  
#footer .social-links a:hover {
    background: #0678e3;
    color: #fff;
    text-decoration: none;
}
  
#footer .copyright {
    margin: 0 0 5px 0;
}
  
#footer .credits {
    font-size: 13px;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: var(--text-head);
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}
  
.back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
}
  
.back-to-top:hover {
    background: rgb(13, 134, 152);
    color: #fff;
}
  
.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

/*--------------------------------------------------------------
# Extras
--------------------------------------------------------------*/