/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

/*html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{
  margin:0;padding:0;
}*/
/*body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}
*/

/* =============================================================================
   My CSS
   ========================================================================== */

@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap);
/* ---- base ---- */

html,body{ 
	width:100%;
	height:100%;
    background:#fff;
    margin:0;
    padding:0;
}

h2 {
    padding: 0;
    margin: 0;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
  font:normal 75% montserrat, Helvetica, sans-serif;
}

h1, h2 {
    font-family: Raleway, sans-serif;
}

.sidebar {
    position: fixed;
    height: 100%; 
    width: 30%;
    padding-top: 5%;
    color: #fff; 
    pointer-events: none; /* Makes mouse events pass through */
/*    border: 2px red solid;*/
}

.sidebar * {
    pointer-events: auto; /* Enables mouse events for child elements */
}

.profile-info h1{
  font-size: 2vw;
}

.profile-info h2{
  font-size: 1vw;
}

.profile-info p {
  padding-left: 3vw;
  padding-right: 3vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
  font-size: 1.0vw;
  text-align: justify;
  text-align: center;
}

.profile-picture {
    width: 16vw; 
    height: 16vw;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 0.3vw solid #fff;
}


.social-icon {
    color: #fff; 
    font-size: 4vw; 
    padding: 0 0.8vw;
/*    text-decoration: none; */
}

.social-icon:hover {
    color: #ddd; /* Icon hover color */
}

canvas{
  display:block;
  vertical-align:bottom;
}

/* ---- particles.js container ---- */
#particles-js{
  position: fixed;
  top: 0px;
  width: 30%;
  height: 100%;
  background-color: #333;
  background-image: linear-gradient(19deg, rgb(33, 212, 253) 0%, rgb(183, 33, 255) 100%); /* #21d4fd #b721ff */
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.content {
    position: fixed;
    width: 70%;
    right: 0px;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1vw;
    flex-wrap: wrap;
}

.navbar a {
    text-decoration: none;
    color: #333; 
    font-size: 22px;
    font-weight: 600;
    margin: 0 10px; 
    position: relative; 
    padding: 10px 20px;
    padding-bottom: 22px;
    background: -webkit-linear-gradient(90deg, rgba(255,130,130,1) 0%, rgba(225,120,237,1) 100%);
    background: linear-gradient(90deg, rgba(255,130,130,1) 0%, rgba(225,120,237,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; /* Make the text color transparent to show the gradient */
    display: inline-block; /* Ensure the background size covers the text */
}

.navbar a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%; /* Start from the middle */
    width: 0; /* Initially no width */
    height: 3px; /* Height of the underline */
    background: linear-gradient(90deg, rgba(255,130,130,1) 0%, rgba(225,120,237,1) 100%); /* Gradient */
    transition: all 0.3s ease-in-out; /* Smooth transition for the animation */
}

.navbar a:hover::after, .navbar a:focus::after {
    width: 100%; /* Full width on hover/focus */
    left: 0; /* Align from the left */
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column; /* Stack items vertically */
    }

    .navbar a {
        width: 100%; /* Make each link full width */
        text-align: center; /* Center-align the text */
    }
}